head
  title MakersBnB
  script(src='https://code.jquery.com/jquery-1.12.4.js')
  script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
  link(rel='stylesheet' type='text/css' href='/css/jquery-ui.css')
