html
head
  title MakersBnB
body
  h1 Welcome to MakersBnB
  p Submit space for rent
  form(action='/spaces/new' method='POST')
    p
      input.space_info(type='text', name='spaces', value='', required)
    input(type='submit', value='Submit')

  each space in spaces
    article= space
