html
head
  title Makers BnB - new space
body
  form(action='/spaces' method='POST')
    p
      input.space-name(type='text', name='spaces', value='', required)
    input(type='submit', value='Submit')
